@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<style>
    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /**
    * Desktop Navigation
    */
    .navbar {
        padding: 0;
    }

        .navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }

        .navbar li {
            position: relative;
        }

        .navbar a,
        .navbar a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 10px 30px;
            font-family: "Nunito", sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #013289;
            white-space: nowrap;
            transition: 0.3s;
        }

            .navbar a i,
            .navbar a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }

            .navbar a:hover,
            .navbar .active,
            .navbar .active:focus,
            .navbar li:hover > a {
                color: #4154f1;
            }

        .navbar .getstarted,
        .navbar .getstarted:focus {
            background: #4154f1;
            padding: 8px 20px;
            margin-left: 30px;
            border-radius: 4px;
            color: #fff;
        }

            .navbar .getstarted:hover,
            .navbar .getstarted:focus:hover {
                color: #fff;
                background: #5969f3;
            }


    /**
    * Mobile Navigation
    */
    .mobile-nav-toggle {
        color: #012970;
        font-size: 28px;
        cursor: pointer;
        display: none;
        line-height: 0;
        transition: 0.5s;
    }

        .mobile-nav-toggle.bi-x {
            color: #fff;
        }


    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(1, 22, 61, 0.9);
        transition: 0.3s;
    }

        .navbar-mobile .mobile-nav-toggle {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .navbar-mobile ul {
            display: block;
            position: absolute;
            top: 55px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            padding: 10px 0;
            border-radius: 10px;
            background-color: #fff;
            overflow-y: auto;
            transition: 0.3s;
        }

        .navbar-mobile a,
        .navbar-mobile a:focus {
            padding: 10px 20px;
            font-size: 15px;
            color: #012970;
        }

            .navbar-mobile a:hover,
            .navbar-mobile .active,
            .navbar-mobile li:hover > a {
                color: #4154f1;
            }

        .navbar-mobile .getstarted,
        .navbar-mobile .getstarted:focus {
            margin: 15px;
        }

    .col-12.col-md-8.col-lg-4.border-top.border-3.border-primary {
        width: 50%;
    }
    img{
        width: 400px;
        transform: translateX(70px);
    }

</style>
<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/Identity/Account/Login">Login</a></li>

        <li><a class="getstarted scrollto" href="/Identity/Account/Register">Register</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->


<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0" style="transform:translateY(150px);">
        <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>Email Confirmation?</h5>
                        <p class="mb-2">
                            Enter your registered email ID to resend email confirmation
                        </p>
                    </div>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Input.Email" for="email" class="form-label">Email</label>
                            <input asp-for="Input.Email" type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                                   required="">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                        </div>
                    </form>
                    <img src="~/Assets/Audiobook-rafiki.svg"/>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
